h1{
    font-size: 50px;
    color: darkorange;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}